In [4]:
# 161
for i in range(0,100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [16]:
# 162
for i in range(2002, 2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [38]:
# 163
for i in range(1, 31):
    if i % 3 ==0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [46]:
# 164
for i in range(0, 100):
    print(99-i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [56]:
# 165
for i in range(0,10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [60]:
# 166
for i in range(1,10):
    print(f'3 x {i} =', 3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [64]:
# 167
for i in range(1,10,2):
    print(f'3 x {i} =', 3*i)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [70]:
# 168
a = 0
for i in range(1,11):
   a += i
print('합: ', a)

합:  55

In [74]:
# 171
price_list = [32100, 32150, 32000, 32500]

for i in price_list:
    print(i)

32100
32150
32000
32500

In [86]:
# 172

for i, k in enumerate(price_list):
    print(i, k)

0 32100
1 32150
2 32000
3 32500

In [84]:
# 173
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [94]:
# 174
for i in range(1, 4):
    print(90+10*i, price_list[i])

100 32150
110 32000
120 32500

In [98]:
# 175

my_list = ["가", "나", "다", "라"]

for i in range(0,3):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [102]:
# 176
my_list = ["가", "나", "다", "라", "마"]

for i in range(1,4):
    print(my_list[i-1], my_list[i], my_list[i+1])

가 나 다
나 다 라
다 라 마

In [106]:
# 177
my_list = ["가", "나", "다", "라"]

for i in range(0,3):
    print(my_list[3-i], my_list[2-i])

라 다
다 나
나 가

In [116]:
# 178
my_list = [100, 200, 400, 800]

for i in range(0, 3):
    print(my_list[i+1] - my_list[i])

100
200
400

In [114]:
# 179
my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(0, 4):
    print((my_list[i]+my_list[i+1]+my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [120]:
# 180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = list()
for i in range(len(low_prices)):
    volatility.append(high_prices[i] - low_prices[i])
    
print(volatility)

[50, 100, 30, 80, 0]

In [124]:
# 181
apart = [['101호', '102호'],
        ['201호', '202호'],
        ['301호', '302호']]

print(apart, type(apart))

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']] <class 'list'>

In [136]:
# 182
stock = [['시가', 100, 200, 300], ['종가', 80, 210, 330]]

print(stock, type(stock))

[['시가', 100, 200, 300], ['종가', 80, 210, 330]] <class 'list'>

In [140]:
# 183
stock = {'시가' : [100, 200, 300],
        '종가' : [80, 210, 330]}
print(stock, type(stock))

{'시가': [100, 200, 300], '종가': [80, 210, 330]} <class 'dict'>

In [146]:
# 184
stock = {"10/10": [80, 110, 70, 90], 
         "10/11": [210, 230, 190, 200] }
print(stock, type(stock))

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]} <class 'dict'>

In [148]:
# 185
apart = [ [101, 102], [201, 202], [301, 302] ]


for i in range(len(apart)):
    for k in range(0,2):
        print(apart[i][k], '호')

101 호
102 호
201 호
202 호
301 호
302 호

In [150]:
# 186

for i in range(len(apart)):
    for k in range(0,2):
        print(apart[2-i][k], '호')

301 호
302 호
201 호
202 호
101 호
102 호

In [152]:
# 187

for i in range(len(apart)):
    for k in range(0,2):
        print(apart[2-i][1-k], '호')

302 호
301 호
202 호
201 호
102 호
101 호

In [154]:
# 188

for i in range(len(apart)):
    for k in range(0,2):
        print(apart[i][k], '호')
        print('-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [156]:
# 189

for i in range(len(apart)):
    for k in range(0,2):
        print(apart[i][k], '호')
    print('-----')

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [172]:
# 190

for i in range(len(apart)):
    for k in range(0,2):
        print(apart[i][k], '호')
print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [160]:
# 191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for price in data:
    for i in price:
        print(i*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [170]:
# 192

for price in data:
    for i in price:
        print(i*1.00014)
    print('-'*4)

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [166]:
# 193
result = list()

for price in data:
    for i in price:
        result.append(i*1.00014)

print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [174]:
# 194
result = list()

for price in data:
    rr = list()
    for i in price:
        rr.append(i*1.00014)
    result.append(rr)

print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [176]:
# 195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in range(1,4):
    print(ohlc[i][3])

100
190
310

In [182]:
# 196

for i in range(1,4):
    if ohlc[i][3] > 150:
        print(ohlc[i][3])

190
310

In [188]:
# 197

for i in range(1,4):
    if ohlc[i][3] >= ohlc[i][0]:
        print(ohlc[i][3])

100
310

In [194]:
# 198
volatility = list()

for i in range(1,4):
    volatility.append(ohlc[i][1] - ohlc[i][2])
print(volatility)

[40, 30, 10]

In [198]:
# 199
volatility = list()

for i in range(1,4):
    if ohlc[i][3] > ohlc[i][0]:
        print(ohlc[i][1] - ohlc[i][2])

10

In [208]:
# 200
r=0
total = 0

for i in range(1,4):
    r = ohlc[i][0] - ohlc[i][3]
    total += r
print(total)

0