In [6]:
# 201
def print_coin():
    print('비트코인')

print_coin()

비트코인

In [12]:
# 202
a = print_coin()
a

비트코인

In [16]:
# 203
def print_coins():
    print('비트코인'*100)

In [20]:
# 205
# 함수 정의를 먼저 해준 후에 호출해야 함

In [24]:
# 206
# A B C A B
def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

In [28]:
# 207
# A C B

print("A")

def message() :
    print("B")

print("C")
message()

A
C
B

In [34]:
# 208
# A C B E D

print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

A
C
B
E
D

In [40]:
# 209
# B A

def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

B
A

In [44]:
# 210
# B C B C B C A
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

In [46]:
# 211
#  안녕 Hi

def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [50]:
# 212
# 7 15
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

In [52]:
# 213
# 파라미터를 안넣어줌

In [54]:
# 214
# 정의된 함수에서 같은 타입의 값 입력받는 것으로 정의됐으므로, 함수호출 시에 문자형과 숫자는 서로 더할 수 없음

In [60]:
# 215
def print_with_smile(a):
    print(a, ':D')

In [62]:
# 216
print_with_smile('안녕하세요')

안녕하세요 :D

In [64]:
# 217

def print_upper_price(p):
    p *= 1.3
    print(p)

print_upper_price(1000)

1300.0

In [66]:
# 218

def print_sum(a,b):
    print(a+b)
    
print_sum(1,2)

3

In [68]:
# 219

def print_arithmetic_operation(a,b):
    print(a,'+',b,'=',a+b)
    print(a,'-',b,'=',a-b)
    print(a,'*',b,'=',a*b)
    print(a,'/',b,'=',a/b)

print_arithmetic_operation(3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [70]:
# 220

def print_max(a, b, c):
    com = 0
    if a > com:
        com = a
    if b > com:
        com = b
    if c > com:
        com = c
    print(com)
        
print_max(1,3,5)

5

In [72]:
# 221

def print_reverse(a):
    print(a[::-1])

print_reverse("python")

nohtyp

In [80]:
# 221

def print_reverse(a):
    l1 = list(a)
    l1.reverse()
    l1 = ''.join(l1)
    print(l1)

print_reverse("python")

nohtyp

In [86]:
# 222

def print_score(l1):
    print(sum(l1)/len(l1))

print_score ([1, 2, 3])

2.0

In [90]:
# 223

def print_even(a):
    for i in range(len(a)):
        if a[i] % 2 ==0:
            print(a[i])

print_even([1,3,2,10,12,11,15])

2
10
12

In [96]:
# 224
def print_keys(a):
    for i in a.keys():
        print(i)
    
print_keys({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [100]:
# 225

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key(a, b):
    print(a[b])

print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

In [104]:
# 226

def print_5xn(a):
    line_num = len(a)// 5
    str_num = len(a) % 5
    
    if str_num == 0:
        for i in range(0, line_num):
            print(a[i*5 : (i+1)*5])
    
    else:
        for i in range(0, line_num):
            print(a[i*5 : (i+1)*5])
        print(a[line_num*5 : line_num*5+str_num])
            
                        
          
print_5xn("아이엠어보이유알어걸이머")

아이엠어보
이유알어걸
이머

In [110]:
def print_5xn(a):
    line_num = len(a) // 5
    for i in range(line_num + 1) :
        print(a[i * 5: i * 5 + 5])

print_5xn("아이엠어보이유알어걸이머")

아이엠어보
이유알어걸
이머

In [116]:
# 227

def printmxn(a,b):
    line_num = len(a) // b
    for i in range(line_num+1):
        print(a[i*b : i*b+b])
        
printmxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [122]:
# 228

def calc_monthly_salary(annual_salary):
    print(int(annual_salary/12))
    
calc_monthly_salary(12000004)

1000000

In [130]:
# 229
# 왼쪽: 100 오른쪽: 200

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [138]:
# 230
# 왼쪽: 200 오른쪽: 100

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

In [140]:
# 231
# 에러 -> result 변수를 글로벌에서 선언해준 적이 없으므로 함수밖에서 사용할 수 없음

In [146]:
# 232

def make_url(a):
    return 'www.' + a + '.com'

make_url('naver')

'www.naver.com'

In [152]:
# 233

def make_list(a):
    al = list()
    for i in range(len(a)):
        al.append(a[i])
    return al

make_list('abcd')

['a', 'b', 'c', 'd']

In [162]:
# 234

def pickup_even(a):
    l1 = list()
    for i in range(len(a)):
       if a[i] % 2 == 0:
        l1.append(a[i])
    return l1

pickup_even([3,4,5,6,7,8])

[4, 6, 8]

In [168]:
# 235

def convert_int(a):
    a = a.split(',')
    a = list(a)
    return int(''.join(a))

convert_int('1,234,567')

1234567

In [174]:
# 236
# 22

def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

In [182]:
# 237
# 22
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

In [188]:
# 238
# 140
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

In [192]:
# 239
# 16
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

16

In [200]:
# 240
# 28

def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

28