## 함수와 입출력

#### 함수

In [4]:
def add(a, b): 
    return a + b

In [10]:
a = 3
b = 4
c = add(a, b)
print(c)

7

#### 매개변수와 인수

In [13]:
def add(a, b):  # a, b는 매개변수
    return a+b

print(add(3, 4))  # 3, 4는 인수

7

#### 입력값과 리턴값에 따른 함수의 형태

In [18]:
# 일반적인 함수
def add(a, b): 
    result = a + b 
    return result

In [20]:
add(3, 4)

7

In [54]:
# 입력값이 없는 함수
def say1(): 
    return 'Hi'

In [56]:
say1()

'Hi'

In [58]:
d = say1()

In [60]:
print(d)

Hi

In [42]:
# 리턴값이 없는 함수
def add2(a, b): 
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))

In [44]:
add2(3, 4)

3, 4의 합은 7입니다.

In [46]:
c = add2(3, 4)

3, 4의 합은 7입니다.

In [48]:
print(c)

None

In [64]:
# 입력값도, 리턴값도 없는 함수
def say2(): 
    print('Hi')

In [66]:
d = say2()

Hi

In [68]:
print(d)

None

#### 매개변수를 지정하여 호출하기

In [73]:
def sub(a, b):
    return a - b

In [77]:
result = sub(a=7, b=3)
print(result)

4

In [83]:
result = sub(b=5, a=3)
print(result)

-2

#### 입력값이 몇 개가 될지 모를 때는 어떻게 해야 할까?

In [88]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [96]:
# 사용자의 입력이 몇 개든, 전부 다 누적해서 더해주는 함수
def add_many(*args): 
    result = 0 
    for i in args: 
        result = result + i   # *args에 입력받은 모든 값을 더한다.
    return result

In [102]:
add_many(1,2,3,4,5,6,7,8,9,999999)

1000044

In [ ]:
# Quiz
---
사용자에게 다수의 입력을 받아서 옵션에 따라 누적곱 또는 누적합을 출력하는 함수를 만들어라
---

In [106]:
def cumulative_operation(numbers, operation):
    result = []

    if operation == 'sum':
        cum_sum = 0
        for num in numbers:
            cum_sum += num
            result.append(cum_sum)

    elif operation == 'product':
        cum_product = 1
        for num in numbers:
            cum_product *= num
            result.append(cum_product)

    else:
        return "Invalid operation. Please choose 'sum' or 'product'."

    return result

In [116]:
numbers = [1,2,3]
operation = 'product' #'sum'
print(cumulative_operation(numbers, operation))

[1, 2, 6]

def add_mul(option, *args):
    if option == 'mul':
        data = 1
        for i in args:
            data = data * i
        return data
    if option == 'sum':
        data = 0
        for i in args:
            data = data + i
        return data

In [124]:
add_mul('mul', 1,2,3,4,5)

120

In [126]:
add_mul('sum', 1,2,3,4,5)

15

#### 키워드 매개변수, kwargs

In [134]:
def print_kwargs(**kwargs):
    print(kwargs)

In [136]:
print_kwargs(a=1)

{'a': 1}

In [138]:
print_kwargs(name='baka',age=20)

{'name': 'baka', 'age': 20}

#### 함수의 리턴값은 언제나 하나이다

In [141]:
def add_and_mul(a,b): 
    return a+b, a*b

In [143]:
add_and_mul(3, 4)

(7, 12)

In [145]:
result1, result2 = add_and_mul(3, 4)
result1

7

In [147]:
result2

12

In [149]:
def add_and_mul(a,b): 
    return a+b
    return a*b

In [151]:
result = add_and_mul(2, 3)
result

5

#### return으로 함수 이탈하기

In [157]:
def say_nick(nick):
    if nick == '바보':
        return '옥상으로 따라와'
    print(f'나의 별명은 {nick}입니다.')

In [159]:
say_nick('호야')

나의 별명은 호야입니다.

In [161]:
say_nick('돼지')

나의 별명은 돼지입니다.

In [163]:
say_nick('바보')

'옥상으로 따라와'

#### 매개변수에 초깃값 미리 설정하기

In [169]:
# default1.py
def say_myself(name, age, man=True): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % age) 
    if man: 
        print("남자입니다.")
    else: 
        print("여자입니다.")

In [171]:
say_myself("김첨지", 27)

나의 이름은 김첨지 입니다.
나이는 27살입니다.
남자입니다.

In [173]:
say_myself("김첨지", 27, True)

나의 이름은 김첨지 입니다.
나이는 27살입니다.
남자입니다.

In [177]:
say_myself("박춘봉", 27, False)

나의 이름은 박춘봉 입니다.
나이는 27살입니다.
여자입니다.

#### 함수 안에서 선언한 변수의 효력 범위

In [186]:
a = 1
def vartest(a):
    a = a+1

In [188]:
a

1

In [190]:
vartest(a)

In [192]:
print(a)

1

#### 함수 안에서 함수 밖의 변수를 변경하는 방법

In [199]:
# return 사용하기
# vartest_return.py
a = 1 
def vartest(a): 
    a = a +1 
    return a

a = vartest(a) 
print(a)

2

In [201]:
# global 명령어 사용하기
# vartest_global.py
a = 1 
def vartest(): 
    global a 
    a = a+1

vartest() 
print(a)

2

#### lambda 예약어 (쉽게 말하면 1회성 함수)

In [205]:
def add(a, b):
    return a+b

result = add(3, 4)
print(result)

7

In [207]:
add = lambda a, b: a+b
result = add(3, 4)
print(result)

7